* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5ebdc;
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}