#skills {
    width: 100%;
    padding: 3rem 0;
    background-color: #f8f8f8;
    color: #333;
}

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.tab {
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: #f4f4f4;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: 0 1rem;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    color: #333;
    align-content: center;
    text-align: center;
}

.tab:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.tab.active {
    background-color: #0077ff;
    color: white;
    border: 2px solid #0077ff;
}

.skill-section {
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    transition: transform 0.3s ease-in-out;
}

.skill-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    transition: box-shadow 0.3s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
}

.skill-text {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #333;
    font-size: 1rem;
    text-align: center;
}

.skill-item:hover{
    transform: scale(1.1);
}

.skill-img:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.435);
}

.skills-title {
    font-size: 2rem;
    color: #0077ff;
    font-weight: bold;
    margin: 0 0 3rem 0;
}