#about {
    width: 100%;
    padding: 3rem 0;
    background-color: var(--background-color);
    color: var(--title-text-color);
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    text-align: center;
    padding: 2rem;
    background-color: var(--content-background);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-me-title {
    font-size: 2rem;
    color: #0077ff;
    font-weight: bold;
    margin: 1.5rem;
}

.about-me-description {
    font-size: 1.2rem;
    color: var(--normal-text-color);
    line-height: 1.6;
    padding-bottom: 1rem;
    text-align: center;
}

.line {
    width: 80px;
    height: 3px;
    background-color: #0077ff;
    margin: 0rem auto;
    border: none;
}

#line-break {
    width: 20%;
    height: 3px;
    background-color: #0077ff;
    border-color: #0077ff;
    margin: 0rem auto;
}

.table-row-about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.table-column-about {
    flex: 1;
    padding: 1rem;
    text-align: center;
    max-width: 30%;
}

.divider {
    width: 2px;
    background-color: var(--divider-background);
    margin: 0 1rem;
}

.interest-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0077ff;
    display: block;
}

.interest-text {
    font-size: 1rem;
    color: var(--normal-text-color);
    line-height: 1.5;
    display: block;
}

.interest-image {
    width: 70%;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0 0 0;
    transition: transform 0.3s;
}

.image-container:hover .interest-image {
    transform: scale(1.2);
}

.image-container:hover .enlarge-image {
    opacity: 1;
}

.image-container {
    position: relative;
    display: inline-block;
}

.enlarge-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: auto;
    z-index: 20;
    opacity: 0.7;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 0.5rem 0rem;
}

#enlarge-instruct {
    border-radius: 10px;
    padding: 5px 20px;
    fill-opacity: 50%;
    background-color: var(--background-color);
    color: #878787;
}

.full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.full-screen-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

.full-screen-image {
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.close-button {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10000;
}

@media (max-width: 450px){
    .about-container {
        width: 90%;
    }
    .table-row-about{
        flex-direction: column;
        gap: 1rem;
    }
    .table-column-about{
        max-width: 100%;
        padding: 0
    }
    .about-me-description {
        font-size: 1rem;
    }
    .close-button {
        top: 105%;
        right: 49%;
    }
    .full-screen-image {
        width: 105%;
    }
}