#home {
    height: calc(100vh - 4rem);
    width: calc(100vw - 14rem);
    margin: 2rem 7rem;
}

.profile {
    position: absolute;
    height: 95vh;
    top: 3rem;
    right: 0;
    margin-right: 7rem;
    object-fit: cover;
    z-index: -1;
}

.home-content{
    height: 95vh;
    width: 40vw;
    left: 0;
    padding-top: 15rem;
}

.hello {
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.intro {
    font-size: 4rem;
}

.name {
    font-size: 4rem;
    font-weight: bolder;
    color: #21ddda;
}

.line {
    position: relative;
    border: 1px solid gray;
    margin: 1.5rem 0;
}

.intro-text {
    font-size: 1.5rem;
    line-height: 1.5;
}
