* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: var(--background-size);
    color: var(--title-text-color); 
    padding: calc((100vh - 800px)/2) 0;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 0;
    position: relative;
}

.home-content {
    flex: 1;
    max-width: 60%;
    padding-right: 10%;
    text-align: left;
}

.hello {
    font-size: 1.6rem;
    color: var(--normal-text-color);
}

.intro {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--title-text-color);
    line-height: 1.2;
}

.name {
    color: #0077ff;
}

#line {
    width: 60px;
    height: 3px;
    background-color: #0077ff;
    margin: 10px 0;
    border: none;
}

.intro-text {
    font-size: 1.2rem;
    color: var(--normal-text-color);
    line-height: 1.6;
    margin-top: 20px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 15rem;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        text-align: center;
        padding: 50px 0;
    }
    .home-content {
        max-width: 100%;
        padding-right: 0;
    }
    .profile-container {
        max-width: 100%;
        margin-top: 20px;
    }
    .intro{
        font-size: 2.5rem;
    }
    .intro-text{
        font-size: 1.1rem;
    }
    .profile{
        width: 60%;
    }
}