#contact {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--content-background);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.table-row-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0077ff;
}

.contact-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.table-column-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--skill-name-color);
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
    background-color: black;
}

.contact:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.copyright {
    color: #0077ff;
    font-weight: bold;
    font-size: 1rem;
}

@media (max-width: 450px){
    .table-row-contact{
        flex-wrap: wrap;
    }
    .contact-logos {
        gap: 1.5rem;
    }
    .title {
        margin-bottom: 0rem;
    }
    .table-column-contact {
        margin-bottom: 0rem;
    }
    .table-row-contact {
        gap: 1.5rem;
    }
}