.navbar {
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: #f5ebdc;
}

.light {
    object-fit: cover;
    height: 4rem;
    margin: 0 5rem 0 5rem;
    cursor: pointer;
    transition: transform 0.8s;
}

.light:hover {
    transform: rotate(0.5turn) scale(1.2);
}

.menuItem {
    margin: 1rem 1.5rem;
    cursor: pointer; 
    color: black;
    font-weight: normal;
    font-size: medium;
    transition: padding-bottom 0.3s, color 0.3s;
}

.menuItem:hover {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #800020;
    color: #800020;
}

.resumeBtnContainer{
    margin: 0 5rem;
}

.resumeBtn {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    color: black;
    background: #f5ebdc;
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
}

.resumeBtn:hover {
    color: #f5ebdc;
    background-color: #800020;
    border: 1px solid #800020;
}

.resumeBtnImg {
    object-fit: cover;
    height: 1.2rem;
    margin: 0 0.5rem 0 0;
    transition: filter 0.3s;
}

.resumeBtn:hover .resumeBtnImg {
    filter: invert(100%);
}